@import "./icons.scss";

#photo-editor-root {
  .drop-zone {
    border: 1px dashed #000;
    width: fit-content;
    margin: 12px auto;
    border-radius: 8px;
    padding: 12px;
    &.text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .photo-editor {
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    user-select: none;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin: auto;
      width: 80%;
    }
  }

  .photo-viewer {
    position: relative;
    height: 0;
    width: 85%;
    padding-top: 50%;
    margin: auto;
    @media screen and (max-width: 767.98px) {
      width: 60%;
      padding-top: 100%;
    }
  }

  .image-outer-container {
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: grab;
    background-color: #000;
  }

  .image-outer-container:active {
    cursor: grabbing;
  }

  .image-outer-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/splash.jpg);
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 9;
    mix-blend-mode: lighten;
  }

  .image-inner-container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .image-inner-container img {
    max-width: 100%;
    max-height: 100%;
  }
}
